<ion-view view-title="Intro Page">
    <ion-content scroll="false">
        <div id="page-intro" class="page-intro">
            <ion-slide-box >
                <ion-slide>
                    <div id="slide-intro-1" class="slide-intro">
                        <div class="slide-intro-wrapper">
                            <div class="info">
                                <div class="row">
                                    <div class="col col-80 col-offset-10">
                                        <div class="logo">
                                            <p>
                                               <img src="big_logo.png" class="img-logo">
                                            </p>
                                            <span>PIAZZA MAGGIORE</span>
                                        </div>
                                        <p>RISTORANTE IN PIAZZA MAGGIORE</p>
                                        <button ui-sref="app.category" ng-click="setLokali('PIAZZA MAGGIORE')" class="button-get-started button button-outline button-light">
                                            ENTRA
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div id="slide-intro-2" class="slide-intro">
                        <div class="slide-intro-wrapper">
                            <div class="info">
                                <div class="row">
                                    <div class="col col-80 col-offset-10">
                                        <div class="logo">
                                           <p>
                                              <img src="../../img/big_logo.png" class="img-logo">
                                           </p>
                                           <span>SAN LAZZARO</span>
                                        </div>
                                        <p>IN UN CASOLARE RUSTICO IN MEZZO AL VERDE</p>
                                        <button ui-sref="app.category" ng-click="setLokali('SAN LAZZARO')" class="button-get-started button button-outline button-light">
                                            Entra
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div id="slide-intro-3" class="slide-intro">
                        <div class="slide-intro-wrapper">
                            <div class="info">
                                <div class="row">
                                    <div class="col col-80 col-offset-10">
                                        <div class="logo">
                                            <p>
                                               <img src="../../img/big_logo.png" class="img-logo">
                                            </p>
                                            <span ng-style="{'font-size': myStyle}">ZEROCINQUANTINO</span>
                                        </div>
                                        <p>TIGELLE PIADINA E CRESCENTA SFORNATE TUTTI I GIORNI.</p>
                                        <button ui-sref="app.category" ng-click="setLokali('ZEROCINQUANTINO')" class="button-get-started button button-outline button-light">
                                            ENTRA
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div id="slide-intro-4" class="slide-intro">
                        <div class="slide-intro-wrapper">
                            <div class="info">
                                <div class="row">
                                    <div class="col col-80 col-offset-10">
                                        <div class="logo">
                                            <p>
                                               <img src="../../img/big_logo.png" class="img-logo">
                                            </p>
                                            <span ng-style="{'font-size': myStyle}">ZEROCINQUANTELLO</span>
                                        </div>
                                        <p>STREET FOOD DI QUALIT&Agrave;</p>
                                        <button ui-sref="app.category" ng-click="setLokali('ZEROCINQUANTELLO')" class="button-get-started button button-outline button-light">
                                            ENTRA
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
    </ion-content>
</ion-view>
